<div class="container ask mt-3 pb-2">
  <h1 class="text-center">Ask me a question</h1>
  <form action="/answer" class="text-center" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
